/node_modules
/public/hot
/public/storage
/public/upload
/public/sample.pdf
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea/*
.vscode
.vagrant/
info.php