body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}
html {
    height: -webkit-fill-available;
}
.logo {
    display: inline-block;
    color: #fff;
    width: 100px;
}
.logo--large {
    width: 200px;
}
