.free-listing-title {
    word-break: normal;
}
.free-listing-card {
    margin-top: -12px;
    height: 100vh;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
}