.offer-dropzone.vue-dropzone {
  position: relative;
  min-height: 370px;

  > .dz-message {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(calc(-50% - 2em));
    -moz-transform: translateY(calc(-50% - 2em));
    -ms-transform: translateY(calc(-50% - 2em));
    transform: translateY(calc(-50% - 2em));
  }

  > .dz-preview {
    .dz-image {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 140px;
      height: 140px;
      > img {
        width: 140px;
        height: 87px;
      }
    }
    .dz-remove {
      top: auto;
      font-size: 0.6rem;
      padding: 6px;
      border: none;
      text-decoration: underline;
    }
    .dz-progress {
      display: none;
    }
  }

  &.offer_floorPlan {
    > .dz-preview {
      .dz-image {
        width: 120px;
        height: 120px;
      }
      .dz-remove {
        padding: 4px;
      }
    }
  }
}

.offer__status {
  .v-input--selection-controls__input {
    order: 1;
  }
  .v-label {
    order: 0;
    flex: none !important;
    margin-right: 16px;
  }
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
}
.upload-btn-wrapper input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.upload-btn-wrapper label {
  cursor: pointer;
}

.offer__seller__avatar {
  border: 1px solid rgba(0, 0, 0, 0.6);
}
